.tags
{
	margin: 12px 0 10px 0 !important;
	font-size: 12px !important;
	display: inline-block !important;
	float: left !important;
}

.tags a {
	margin: 0 5px !important;
	font-size: 11px !important;
	display: inline-block !important;
	float: left !important;
}


.buscador
{	margin: 10px 5px 0px 10px !important;
	width: 403px !important;
	display:inline-block !important;
	float:left !important;
}

.buscador span {
	width:100px;
	display:inline-block !important;
}

.buscador input {
	max-width: 300px !important;
}

@media (max-width: 932px ) and (min-width: 768px)    {
	.wrapper{
		position:absolute;
		top:94px !important;
	}

	.header {
		min-height:95px !important;
	}
}
@media (max-width: 767px ) and (min-width: 0px)    {
	.wrapper{
		position:absolute;
		top:94px !important;
	}

	.header {
		min-height:107px !important;
	}
}